/Servidor/Server
Servidor/Wair0/vcproj-12/common/Debug/common.log
Servidor/Wair0/vcproj-12/common/Debug/common.pdb
Servidor/Wair0/vcproj-12/common/Debug/common.log
Servidor/Wair0/vcproj-12/common/Debug/common.pdb
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.command.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.write.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/unsuccessfulbuild
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/Lib.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/lib.command.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/Lib-link.write.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/Lib-link.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/common.lastbuildstate
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.write.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.command.1.tlog
Servidor/Wair0/eAthena-12.VC.db
Servidor/Wair0/eAthena-12.VC.VC.opendb
Servidor/Wair0/eAthena-12.VC.db
Servidor/Wair0/eAthena-12.VC.db
Servidor/Wair0/vcproj-12/char-server_sql/Debug/char-server_sql.vcxprojResolveAssemblyReference.cache
Servidor/Wair0/vcproj-12/common_sql/Debug/common_sql.vcxprojResolveAssemblyReference.cache
Servidor/Wair0/vcproj-12/login-server_sql/Debug/login-server_sql.vcxprojResolveAssemblyReference.cache
Servidor/Wair0/vcproj-12/mapcache/Debug/mapcache.vcxprojResolveAssemblyReference.cache
Servidor/Wair0/vcproj-12/map-server_sql/Debug/map-server_sql.vcxprojResolveAssemblyReference.cache
Servidor/Wair0/.vs/eAthena-12/v14/.suo
Servidor/Wair0/eAthena-12.VC.db
