/Servidor/Server
Servidor/Wair0/vcproj-12/common/Debug/common.log
Servidor/Wair0/vcproj-12/common/Debug/common.pdb
Servidor/Wair0/vcproj-12/common/Debug/common.log
Servidor/Wair0/vcproj-12/common/Debug/common.pdb
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.command.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.write.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/unsuccessfulbuild
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/Lib.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/lib.command.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/Lib-link.write.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/Lib-link.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/common.lastbuildstate
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.write.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.read.1.tlog
Servidor/Wair0/vcproj-12/common/Debug/common.tlog/CL.command.1.tlog
